@import "src/layout/main/main";

.block-textarea{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 .25rem;
  textarea{
    border-radius: .5rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    outline: none;
    padding: .5rem .25rem;
    min-height: 2rem;
    line-height: 1.35rem;
    font-size: 1.25rem;
    resize: none;
  }
}
