@import "src/layout/main/main";

.block-avatar {
  display : flex;
  flex-direction : column;
  justify-content : space-between;
  align-items : center;

  div {
    width : 15rem;
    height : 15rem;
    margin : 0 auto;
    overflow : hidden;
    border-radius : 50%;
    background-color : $color-grey-transparent;

    img {
      width : auto;
      height : 100%;
      margin : 0 auto;
    }

  }

}