@import "src/layout/main/main";

.block-card{
  border: 1px solid $color-grey;
  cursor: pointer;
  border-radius: .5rem;
  padding: .25rem;
  box-sizing: border-box;
  margin-bottom: .5rem;
  background-color: $color-grey-transparent;
  div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5rem;
    span{
      font-weight: bold;
    }
    small{
      color: $color-grey-mute;
    }
  }
  p{
    font-size: small;
  }
  &.is_new{
    background-color: $color-primary-transparent;
    border: 1px solid $color-primary-1;
  }
}